
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OrderDetails</h2>

<table id="order" class="table table-condensed">
    <thead>
        <tr>
            <td>Products</td>
            <td>Category</td>
            <td>Ordered Date</td>
            <td>Product Amount</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>